.App {
  text-align: center;
  background-image: url("bg.jpg")
  
}

.body{
  background-image: url("facens.jpg")
}

.App-logo {
  height: 20vmin;
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}

.BG {
  height: 111vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DivComum{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.log {
  background-color: #45464b;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#menu ul {
  padding:0px;
  margin:0px;
  background-color:#282c34;
  list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
  padding: 14px 10px;
  display: inline-block;

  /* visual do link */
  background-color:#282c34;
  color: #EDEDED;
  text-decoration: none;
  border-bottom:3px solid #cdd0d6;
}

#menu ul li a:hover {
  background-color:#162529;
  color: #EDEDED;
  border-bottom:3px solid rgb(24, 91, 153);
}

.LabelCad{
  color: rgb(4, 2, 20);
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);

}