<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Disciplinas</title>
</head>
<body>

    <h2>Cadastrar Disciplina<h2>
    <hr>
    <h4>Informações Pessoais</h4>
    <form action="/cadDisciplina" method="POST">
        <input type="text" placeholder="Nome" name="nome">
        <input type="text" placeholder="Sobrenome" name="sobrenome"><br>
        <input type="text" placeholder="CPF" name="cpf">
        <br>
        <input list="Titulo" placeholder="Tipo de Usuário" name="titulacao">
        <datalist id="Titulo">
            <option value="Administrador">
            <option value="Coordenador">
            <option value="Professor">
        </datalist>   
        <br>
        <input type="text" placeholder="Email" name="email">
        <br>
        <label >É membro do NDE?</label><br>
        <input type="radio" name="membroNDE" value="sim"> SIM
        <input type="radio" name="membroNDE" value="não"> NÃO
        <br>
        <hr> 
        <h4>Informações de Acesso</h4>
        <input type="text" placeholder="Senha" name="senha">
        <input type="text" placeholder="Repita a senha" name="rSenha">
        <br>    
        <hr> 
        <button type="submit">Cadastrar</button>
    </form>
        <form action="/showDisciplinas" method="POST">
            <button type="submit">Consultar Disciplinas</button>
        </form>
    </form> 
</body>
</html>