<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Proj Web</title>
</head>
<body>
    <form action="/cadastroUsuario" method="POST">
      <button type="submit">Cadastro de Usuário</button>
    </form>
    </br>
    <form action="/cadastroCurso" method="POST">
      <button type="submit">Cadastro de Curso</button>
    </form>
    </br>
    <form action="/cadastroDisciplina" method="POST">
      <button type="submit">Cadastro de Disciplina</button>
    </form>
    </br>   
    <form action="/cadastroPlano" method="POST">
      <button type="submit">Cadastro de Plano</button>
    </form>
    </br>
    <form action="/cadastroTurma" method="POST">
      <button type="submit">Cadastro de Turma</button>
    </form>
    </br>
</body>
</html>