<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Cursos</title>
</head>
<body>

    <h2>Cadastrar Cursos<h2>
    <hr>
    <h4>Informações do Curso</h4>
    <form action="/cadCurso" method="POST">
        <input type="text" placeholder="Código do Curso" name="codCurso"><br>
        <input type="text" placeholder="Nome do Curso" name="nomeCurso">
      
        <button type="submit">Cadastrar</button>
        <button type="submit">Cancelar</button>
    <!-- </form>
        <form action="/showCursos" method="POST">
            <button type="submit">Consultar Cursos</button>
        </form>
    </form>  -->
</body>
</html>