<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>

    <h2>Login<h2>
    <hr>
    <form action="/login" method="POST">
        <input type="text" placeholder="Nome do usuário" name="nomeUsuario"><br>
        <input type="password" placeholder="Senha" name="senhaUsuario">
      
        <button type="Entrar">Cadastrar</button>
</body>
</html>