<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

<h2>Usuários<h2>
    <table border="1">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Sobrenome</td>
            </tr>
        </thead>
        <tbody>
        <% data.forEach(function(usuario) { %>
            <tr>
                <td><%= usuario.nome %></td>
                <td><%= usuario.sobrenome %></td>
            </tr>
            <% }) %>
        </tbody>
        </table>
        <button><a href="/">Início</a></button>
</body>
</html>